<div class="container" *ngIf="jsonData">
  <div class="card">
    <div id="resume-header" class="row">
      <div class="col-3">
        <img
          id="profile-picture"
          [src]="jsonData.person.image.path"
          [alt]="jsonData.person.image.id"
        />
      </div>
      <div class="col">
        <h1>{{ jsonData.person.name }}</h1>
        <h2>{{ jsonData.person.degree }}</h2>
        <ul>
          <li>Age: {{ jsonData.person.age }}</li>
          <li>Mail: {{ jsonData.person.email }}</li>
          <li>Phone: {{ jsonData.person.phone }}</li>
          <li>Address: {{ jsonData.person.address.homeAddress }}</li>
          <li>
            Social:
            <a target="_blank" [attr.href]="jsonData.person.social.link">
              {{ jsonData.person.social.link }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <h2>Carrer Summary</h2>
        <p>{{ jsonData.person.summary }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Education</h3>
      <div *ngIf="jsonData.person.education?.length">
        <div
          class="card position"
          *ngFor="let item of jsonData.person.education"
        >
          <h5>
            {{ item.category }}
            <span class="text-muted">({{ item.schedule }})</span>
          </h5>
          <p>
            <i [style.color]="'grey'">Modalidad:</i> {{ item.modality }}
            <br />
            <i [style.color]="'grey'">Lugar:</i> {{ item.location }}
            <br />
            <i [style.color]="'grey'">Descripción:</i> {{ item.description }}
            <br />
            <i [style.color]="'grey'">Fecha de realización:</i> {{ item.date }}
            <br />
            <span *ngIf="item.certified">
              <br />
              <i [style.color]="'grey'">ID:</i> {{ item.id }}
              <br />
              <i [style.color]="'grey'">URL:</i>
              <a [attr.href]="item.reference"> {{ item.reference }}</a>
              <br />
            </span>
          </p>
        </div>
      </div>
      <h3>Work Experience</h3>
      <div *ngIf="jsonData.person.jobs?.length">
        <div class="card position" *ngFor="let job of jsonData.person.jobs">
          <h5>{{ job.position }}</h5>
          <h6 class="text-muted">
            <span>{{ job.startDate }}</span> -
            <span>{{ job.finishDate }}</span>
          </h6>
          <p>{{ job.description }}</p>
          <strong>Achievements:</strong>
          <div *ngIf="job.achievements?.length">
            <ul
              [style.margin-bottom]="0"
              *ngFor="let achievement of job.achievements"
            >
              <li>{{ achievement.description }}</li>
            </ul>
          </div>
        </div>
      </div>
      <h3>Projects</h3>
      <div *ngIf="jsonData.person.projects?.length">
        <div
          class="card position"
          *ngFor="let project of jsonData.person.projects"
        >
          <h5>{{ project.name }}</h5>
          <h6 class="text-muted">
            <span>{{ project.releaseDate }}</span>
          </h6>
          <div class="row">
            <div class="col-3">
              <img
                id="profile-picture"
                [src]="project.image.path"
                [alt]="project.image.id"
              />
            </div>
            <div class="col">
              <p>{{ project.description }}</p>
              <strong *ngIf="project.technologies?.length">
                Technologies:
              </strong>
              <span
                class="badge badge-secondary mr-1"
                *ngFor="let technology of project.technologies"
              >
                {{ technology.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <h3>Skills & Tools</h3>
      <div class="card" *ngIf="jsonData.person.skills?.length">
        <div *ngFor="let skill of jsonData.person.skills">
          <h5>
            {{ skill.name }}
          </h5>
          <ul [style.margin-bottom]="0" *ngFor="let tool of skill.tools">
            <li>{{ tool.name }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="resume-footer" class="row">
    <div class="col">Copyright © {{ dateString }} | All Rights Reserved</div>
  </div>
</div>
