<div class="container" *ngIf="jsonData">
  <div class="card">
    <div id="resume-header" class="row">
      <div class="col-3">
        <img
          id="profile-picture"
          [src]="jsonData.user.image.path"
          [alt]="jsonData.user.image.id"
        />
      </div>
      <div class="col">
        <h1>{{ jsonData.user.name }}</h1>
        <h2>{{ jsonData.user.degree }}</h2>
        <ul>
          <li>Age: {{ jsonData.user.age }}</li>
          <li>Mail: {{ jsonData.user.email }}</li>
          <li>Phone: {{ jsonData.user.phone }}</li>
          <li>
            Social:
            <a target="_blank" [attr.href]="jsonData.user.social.link">
              {{ jsonData.user.social.link }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <h2>Carrer Summary</h2>
        <p>{{ jsonData.user.summary }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Work Experience</h3>
      <div *ngIf="jsonData.user.jobs?.length">
        <div class="card position" *ngFor="let job of jsonData.user.jobs">
          <h5>{{ job.position }}</h5>
          <h6 class="text-muted">
            <span>{{ job.startDate }}</span> -
            <span>{{ job.finishDate }}</span>
          </h6>
          <p>{{ job.description }}</p>
          <strong>Achievements:</strong>
          <div *ngIf="job.achievements?.length">
            <ul
              [style.margin-bottom]="0"
              *ngFor="let achievement of job.achievements"
            >
              <li>{{ achievement.description }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="jsonData.user.projects?.length">
        <h3>Projects</h3>
        <div
          class="card position"
          *ngFor="let project of jsonData.user.projects"
        >
          <h5>{{ project.name }}</h5>
          <h6 class="text-muted">
            <span>{{ project.releaseDate }}</span>
          </h6>
          <div class="row">
            <div class="col-3">
              <img
                id="profile-picture"
                [src]="project.image.path"
                [alt]="project.image.id"
              />
            </div>
            <div class="col">
              <p>{{ project.description }}</p>
              <strong *ngIf="project.technologies?.length">
                Technologies:
              </strong>
              <span
                class="badge badge-secondary mr-1"
                *ngFor="let technology of project.technologies"
              >
                {{ technology.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <h3>Skills & Tools</h3>
      <div class="card" *ngIf="jsonData.user.skills?.length">
        <div *ngFor="let skill of jsonData.user.skills">
          <h5>
            {{ skill.name }}
          </h5>
          <ul [style.margin-bottom]="0" *ngFor="let tool of skill.tools">
            <li>{{ tool.name }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="resume-footer" class="row">
    <div class="col">Copyright © {{ dateString }} | All Rights Reserved</div>
  </div>
</div>
