<div class="container">
  <div class="card">
    <div id="resume-header" class="row">
      <div class="col-3">
        <img
          id="profile-picture"
          src="https://ui-avatars.com/api/?name=Cristian+Quinto&size=255"
          alt=""
        />
      </div>
      <div class="col">
        <h1>Cristian Quinto</h1>
        <h2>Jr. Web Developer</h2>
        <ul>
          <li>Mail: ezequielqmacias@gmail.com</li>
          <li>Phone: +54 9 264 626-9903</li>
          <li>
            Social:
            <a target="_blank" href="https://linktr.ee/cqubeargentina"
              >linktr.ee/cqubeargentina</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <h2>Carrer Summary</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <h3>Work Experience</h3>
        <div class="card position">
          <h5>Java Developer</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
            sapiente sed pariatur sint exercitationem eos expedita eveniet
            veniam ullam, quia neque facilis dicta voluptatibus. Eveniet
            doloremque ipsum itaque obcaecati nihil.
          </p>
          <strong>Achievements:</strong>
          <ul>
            <li>
              Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
            </li>
            <li>
              Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
            </li>
            <li>
              Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
            </li>
          </ul>
        </div>
        <div class="card position">
          <h5>PHP Developer</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
            sapiente sed pariatur sint exercitationem eos expedita eveniet
            veniam ullam, quia neque facilis dicta voluptatibus. Eveniet
            doloremque ipsum itaque obcaecati nihil.
          </p>
          <strong>Achievements:</strong>
          <ul>
            <li>
              Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
            </li>
            <li>
              Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
            </li>
            <li>
              Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
            </li>
          </ul>
        </div>
        <div class="card position">
          <h5>.NET Developer</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
            sapiente sed pariatur sint exercitationem eos expedita eveniet
            veniam ullam, quia neque facilis dicta voluptatibus. Eveniet
            doloremque ipsum itaque obcaecati nihil.
          </p>
          <strong>Achievements:</strong>
          <ul>
            <li>
              Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
            </li>
            <li>
              Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
            </li>
            <li>
              Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h3>Projects</h3>
        <div class="card position">
          <h5>Project X</h5>
          <div class="row">
            <div class="col-3">
              <img
                id="profile-picture"
                src="https://ui-avatars.com/api/?name=Project+X&size=255"
                alt=""
              />
            </div>
            <div class="col">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                earum corporis at accusamus quisquam hic quos vel? Tenetur,
                ullam veniam consequatur esse quod cum, quam cupiditate
                assumenda natus maiores aperiam.
              </p>
              <strong>Technologies:</strong>
              <span class="badge badge-secondary mx-1">PHP</span>
              <span class="badge badge-secondary mr-1">HTML</span>
              <span class="badge badge-secondary mr-1">CSS</span>
              <span class="badge badge-secondary">JS</span>
            </div>
          </div>
        </div>
        <div class="card position">
          <h5>Project Y</h5>
          <div class="row">
            <div class="col-3">
              <img
                id="profile-picture"
                src="https://ui-avatars.com/api/?name=Project+Y&size=255"
                alt=""
              />
            </div>
            <div class="col">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                earum corporis at accusamus quisquam hic quos vel? Tenetur,
                ullam veniam consequatur esse quod cum, quam cupiditate
                assumenda natus maiores aperiam.
              </p>
              <strong>Technologies:</strong>
              <span class="badge badge-secondary mx-1">JAVA</span>
              <span class="badge badge-secondary mr-1">SPRING</span>
              <span class="badge badge-secondary">ANGULAR</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <h3>Skills & Tools</h3>
      <div class="card">
        <h5>Backend</h5>
        <ul>
          <li>Java</li>
          <li>C#</li>
          <li>PHP</li>
        </ul>
        <h5>Frontend</h5>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JS</li>
        </ul>
        <h5>Frameworks</h5>
        <ul>
          <li>ASP.NET</li>
          <li>Laravel</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="resume-footer" class="row">
    <div class="col">Designed by @qmacias</div>
  </div>
</div>
